.drop-profile{
    width :40px;
    height: 40px;
    border-radius: 100%;
}
.dropdown-profile{
    width :55px;
    height: 55px;
    border-radius: 100%;

}
.dropdown-profile-option{
    width :27px;
    height: 27px;
    border-radius: 100%;

}
.dropdown-menu{
    text-align: center !important;
}